*.gitignore
*.o
*.s
*.d
*.su
*.prefs
*.cyclo
*.jump
*.alignments
*.asmcons
*.bak
*.barriers
*.dfinish
*.dstart
*.dfinish
*.dwarf2
*.expand
*.i
*.err
*.final
*.into_cfglayout
*.mach
*.nothrow
*.ira
*.jump2
*.outof_cfglayout
*.pro_and_epilogue
*.reginfo
*.reload
*.shorten
*.split1
*.split5
*.vregs
*.zero_call_used_regs
*.dfinit
